# Gradle-specific
.gradle/
build/
!gradle-wrapper.jar

# IDE-specific
.idea/
*.iml
.vscode/

# Compiled Java classes
*.class

# Compiled Gradle files
build/

# Log files
*.log

# Eclipse
.classpath
.project
.settings/

# Spring Boot specific
/target/
!src/main/
!src/test/
!src/integrationTest/

# Logs
/log/

# OS-specific files
.DS_Store
Thumbs.db

# Build
bin/
